side-menu {
    .side-menu-container {
        position: fixed;
        left: 2rem;
        bottom: 2rem;
    }
    .single-menu-block {
        background-color: #dddddd;
        text-align: center;
    }
}